<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.androidfolloupstest">
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="true"
        android:icon="@drawable/logo_etapaproductiva"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_etapaproductiva"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidFolloupstest"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Folloups"
            android:theme="@style/Theme.AndroidFolloupstest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity"/>

        <!--Superadmin-->
        <activity android:name=".Superadmin.SuperAdmin_AdministradoresActivity" />
        <activity android:name=".Superadmin.SuperAdmin_InstructorActivity"/>
        <activity android:name=".Superadmin.SuperAdmin_ApprenticeActivity"/>
        <activity android:name=".Superadmin.SuperAdmin_Notificaciones"/>
        <activity android:name=".Superadmin.SuperAdmin_Perfil_Aprendiz"/>
        <activity android:name=".Superadmin.SuperAdmin_Perfil_Instructor"/>
        <activity android:name=".Superadmin.SuperAdmin_Perfil_Administradores"/>
        <activity android:name=".Superadmin.SuperAdmin_Configuraciones"/>
        <activity android:name=".Superadmin.SuperAdmin_Perfil_SuperAdmin"/>
        <activity android:name=".Superadmin.SuperAdmin_Redactar"/>

        <!--Adminitrador-->
        <activity
            android:name=".Administrador.InstructorActivity"
            android:exported="true" />
        <activity
            android:name=".Administrador.ApprenticeActivity"
            android:exported="true" />

        <activity
            android:name=".Administrador.TemplateActivity"
            android:exported="true" />
        <activity android:name=".Administrador.InstructorPerfilActivity" />
        <activity android:name=".Administrador.AgregarInstructorActivity" />
        <activity android:name=".Administrador.AprendizPerfilActivity" />
        <activity android:name=".Administrador.PerfileActivity" />
        <activity android:name=".Administrador.AgregarAprendizActivity" />
        <activity android:name=".Administrador.NotificacionesActivity" />
        <activity android:name=".Administrador.RedactarActivity" />
        <activity android:name=".Administrador.Email" />

    </application>
</manifest>
